body {
    background-color: rgba(216, 216, 211, 0.856) 
}
.container {
    width: 950px;
    position:relative;
}
.groups {
    position:absolute;
    top:0;
    left:0;
    width:200px;
    background-color: rgb(196, 191, 191);
}
li {
    padding: 10px;
    list-style-type: none;
}
li:before {
    content: "►"; 
}
td {
    padding:  5px;
    border: 1px solid black;
}
table {
    margin: 2px;
    border-collapse: collapse;
}

.table {
    border: 2px solid rgb(31, 29, 29);
    border-radius: 2px;
    position:absolute;
    top:17px;
    left:250px;
    display: none;
}
.table button {
    margin: 5px;
    margin-left: 465px;
    
}

.diagram {
    display: none;
    border: 2px solid rgb(31, 29, 29);
    border-radius: 4px;
    position:absolute;
    top:10px;
    left:10px;
    width:500px;
    height:250px;
    margin-left:1000px;
}

input {
    width: 70px;
}

