body {
    background-image: url(images/background.jpg);
    background-size: cover;
}
header {
    position: relative;
    top: 55px;
    left: 580px;
}
header button {
    height: 30px;
}
.container {
    position: relative;
    width: 950px;
}
.groups {
    top:75px;
    left:0;
    width:200px;
}
.groups li {
    padding: 10px;
    list-style-type: none;
}
.groups li:before {
    content: "►"; 
}
table {
    margin: 5px;
    border-collapse: collapse;
}
td {
    padding: 5px;
    border: 1px solid black;
}
.btn {
    color: blue;
}
.storage {
    display: none; 
    top:91px;
    left:250px;
}
.order_done {
    display: none;
    top: 345px;
    left: 260px;
}
.diagram {
    display: none;
    top:130px;
    left:1010px;
    width:500px;
    height:250px;
}
input {
    width: 70px;
}
.style {
    background-color: rgb(196, 191, 191);
    border: 2px solid rgb(31, 29, 29);
    border-radius: 4px;
    position: absolute;
}